



html, body, div, span, header, footer, nav, section, aside, ul, li {
    margin: 0px;
    padding: 0px;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}