
#container-wide {
    max-width: 1000px;
    _width: 900px;
    height: auto;
    padding: 30px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #f0f0f0;
}

#container-small {
    max-width: 380px;
    _width: 380px;
    height: auto;
    padding: 30px 20px 30px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 30px auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #f0f0f0;
}

body {
    background-color: #f0f0f0;
}



